# JWT Configuration
# Generate a strong secret: openssl rand -base64 32
JWT_SECRET=your generated 32 character code (as i changed it to proper 32 char secret not dummy like previous which i push in git 😂)

# Database Configuration
# PostgreSQL connection string format:
# postgres://user:password@host:port/database?sslmode=disable
DATABASE_URL=user=userName password=yourpassword dbname=dbName host=localhost port=portNo sslmode=disable

# Redis Configuration
# Format: host:port
REDIS_ADDR=localhost:6379

# Application Environment
# Options: development, production
ENVIRONMENT=development
